Hello Zoe,

= "#{@message.name} sent you an email through Mindful Life Therapy"

= '-----------'

= "Return address: #{@message.email}"

= '-----------'

= "Subject: #{@message.subject}"

= '-----------'

= @message.body