.row
  .column.large-10.large-offset-1

    .row.text-center.collapse
      .column
        %h1 Welcome to Mindful Life Therapy
        %p.xmb Counselling, Psychotherapy & Mindfulness Training in Glasgow

      .column.medium-6
        #home--counselling.jumbo
          %h2.h4.nmb.white Counselling & Psychotherapy
          %p.lmb.white Clear a path towards happiness
          = link_to 'How I can help you', counselling_page_path, class: 'jumbo-button'

        #home--mindfulness.jumbo
          %h2.h4.nmb.black Mindfulness Training
          %p.lmb.black Live a simpler and happier life
          = link_to 'What is Mindfulness?', mindfulness_page_path, class: 'jumbo-button'

      .column.medium-6
        #home--about.jumbo
          %h2.h4.mmb.black About Mindful Life Therapy
          %p.lmb.black Mindful Life Therapy offers individual counselling and psychotherapy services in Glasgow and further afield
          = link_to 'About Mindful Life Therapy', about_page_path, class: 'jumbo-button'

    .row.xmb.text-center
      .column
        #home--cta
          %p.nmb.black= "Call Zoe on #{@settings.telephone}"
          %p.nmb.black= footer_office_address @settings
          %p.nmb= link_to 'Find the office on the map', map_page_path, class: 'black-link hover-text-decoration'
          %p.nmb= link_to 'Make an appointment', contact_path, id: 'home--cta-button', class: 'jumbo-button alt'

    .row.collapse.xmb
      .column
        %h2.xmb.text-center How can Mindful Life Therapy help you?

      .column.medium-6
        #home--support.jumbo.text-center
          %h3.h4.mmb.white Areas of Speciality

          %p.lmb.white
            Working with
            %strong depression,
            %strong anxiety
            and
            %strong shame
            based issues as well as
            %strong identity,
            %strong spirituality
            and
            %strong existential
            issues are areas of speciality.

          = link_to 'More on Counselling', about_page_path, class: 'jumbo-button'

      .column.medium-6
        #home--features
          .home-features--flex-item
            %h3.h6.mmb
              Mindful Life Therapy can help you with a wide range of issues including the following:

            %p.black.mmb
              Abuse, Addictions, Anxiety, Bereavement, Depression, Eating Disorders, Identity Problems, Loss, Personal Development, Relationships, Self Esteem, Spirituality, Stress and Work related issues

          .home-features--flex-item.alt
            %p.nmb.white
              = link_to 'Contact Mindful Life Therapy', contact_path, class: 'hover-text-decoration'
              to discuss and explore your particular counselling and psychotherapy requirements


    #home--benefits
