- provide :page_title, t('seo.title.admin.show')
- provide :meta_description, t('seo.meta_description.admin')
- provide :canonical_url, admin_url(protocol: 'https')

%h1.text-center.lmb Admin

.row.lpb
  .column.medium-8.medium-offset-2.large-6.large-offset-0
    .callout
      %h2.page-subtitle.strong Admin Links
      %p Use the following links to edit the content of the site.
      %ul
        %li= link_to 'Edit the Site Settings', edit_settings_url, class: 'strong'
        %li= link_to 'Edit the About Page', edit_about_page_url, class: 'strong'
        %li= link_to 'Edit the Counselling & Psychotherapy Page', edit_counselling_page_url, class: 'strong'
        %li= link_to 'Edit the Mindfulness Page', edit_mindfulness_page_url, class: 'strong'

  .column.medium-8.medium-offset-2.large-6.large-offset-0
    .callout.lmb
      %h2.page-subtitle.strong Site Settings
      %p.mmb
        You can edit the site settings
        = succeed '.' do
          = link_to 'here', edit_settings_url, class: 'strong'

      %p
        %strong Session rate:
        %br
        %span.medium-gray= @settings.session_rate

      %p
        %strong Telephone:
        %br
        %span.medium-gray= @settings.telephone

      %p
        %strong Contact email:
        %br
        %span.word-wrap.medium-gray= @settings.contact_email

      %p.nmb
        %strong Office address:
      .medium-gray= office_address @settings

      %p.mpt
        = link_to 'Edit Site Settings', edit_settings_path, class: button_css

= render 'colophon'
