- provide :page_title, t('seo.title.admin.show')
- provide :meta_description, t('seo.meta_description.admin')
- provide :canonical_url, admin_url(protocol: 'https')

.row.xmb
  .column.medium-8.medium-offset-2.large-6.large-offset-3.end
    %h1.page--title Admin

    .callout
      %h2 Admin Links

      %p Use the following links to edit the content of the site.

      %ul.xmb
        %li= link_to 'Edit the About Page', edit_about_page_url
        %li= link_to 'Edit the Counselling & Psychotherapy Page', edit_counselling_page_url
        %li= link_to 'Edit the Mindfulness Page', edit_mindfulness_page_url
        %li= link_to 'Edit the Site Settings', edit_settings_url

      %h2 Site Settings

      %p
        You can edit the site settings
        = succeed '.' do
          = link_to 'here', edit_settings_url, class: 'strong'

      %p
        %strong Session rate:
        %br
        %span= @settings.session_rate

      %p
        %strong Telephone:
        %br
        %span= @settings.telephone

      %p
        %strong Contact email:
        %br
        %span.word-wrap= @settings.email

      %p.nmb
        %strong Office address:
      = office_address @settings

      %p.nmb
        = link_to 'Edit Site Settings', edit_settings_path, class: button_css(color: 'success')
