- provide :page_title, t('seo.title.admin.show')
- provide :meta_description, t('seo.meta_description.admin')
- provide :canonical_url, admin_url(protocol: 'https')

%h1.page-title.xpb.xmb Admin

.row.lpb
  .column.medium-8.medium-offset-2.large-6.large-offset-3
    .callout.success.dark-border-bottom
      %h2.page-subtitle.strong Admin Links
      %p Use the following links to edit the content of the site.
      %ul
        %li= link_to 'Edit the Site Settings', edit_settings_url
        %li= link_to 'Edit the About Page', edit_about_page_url
        %li= link_to 'Edit the Counselling & Psychotherapy Page', edit_counselling_page_url
        %li= link_to 'Edit the Mindfulness Page', edit_mindfulness_page_url

    .callout.success.lmb.dark-border-bottom
      %h2.page-subtitle.strong Site Settings
      %p.lmb
        The following settings are used throughout the site, and you can edit them
        = succeed '.' do
          = link_to 'here', edit_settings_url

      %p
        %strong Session rate:
        %br
        = @settings.session_rate

      %p
        %strong Telephone:
        %br
        = @settings.telephone

      %p
        %strong Contact email:
        %br
        = @settings.contact_email

      %p.nmb
        %strong Office address:
      = office_address @settings

      %p.mpt
        = link_to 'Edit Site Settings', edit_settings_path, class: 'button strong nmb dark-border-bottom'

= render 'colophon'
