= form_with model: @settings, url: settings_path, data: { controller: 'form', action: 'ajax:beforeSend->form#validateForm' } do |f|

  = form_title_for f.object

  %fieldset.callout

    = render 'application/forms/errors', target: f.object

    .form--field{ data: { controller: 'errors', field: 'setting_session_rate' } }
      = f.label :session_rate, 'What is your session rate?', class: 'required', title: 'Your session rate is required'
      %p.nmb 50 characters max
      %p.nmb Please include the £ symbol and session length too
      %p.smb i.e. £55 per 50 minute session
      = f.text_field :session_rate, placeholder: 'i.e. £55 per 50 minute session', maxlength: '50', required: true, tabindex: '1', data: { target: "form.field", action: "blur->form#validateFieldOnBlurOrKeyup keyup->form#validateFieldOnBlurOrKeyup" }
      = error_message target: 'errors.message'

    .form--field{ data: { controller: 'errors', field: 'setting_telephone' } }
      = f.label :telephone, 'What is your telephone number?', class: 'required', title: 'Your telephone number is required'
      %p.smb 30 characters max
      = f.telephone_field :telephone, placeholder: 'i.e. 0123456789', maxlength: '30', required: true, tabindex: '2', data: { target: "form.field", action: "blur->form#validateFieldOnBlurOrKeyup keyup->form#validateFieldOnBlurOrKeyup" }
      = error_message target: 'errors.message'

    .form--field{ data: { controller: 'errors', field: 'setting_email' } }
      = f.label :email, 'What is your preferred contact email address?', class: 'required', title: 'Your contact email address is required'
      %p.nmb 150 characters max
      %p.smb Visitor messages will be sent to this address
      = f.email_field :email, placeholder: 'i.e. info@mindfullifetherapy.co.uk', maxlength: '150', required: true, tabindex: '3', data: { target: "form.field", action: "blur->form#validateFieldOnBlurOrKeyup keyup->form#validateFieldOnBlurOrKeyup" }
      = error_message target: 'errors.message'

    .form--field{ data: { controller: 'errors', field: 'setting_office_address_line_1' } }
      = f.label :office_address_line_1, class: 'required', title: 'Office address line 1 is required'
      %p.smb 50 characters max
      = f.text_field :office_address_line_1, placeholder: 'i.e. 10 Newton Place', maxlength: '50', required: true, tabindex: '4', data: { target: "form.field", action: "blur->form#validateFieldOnBlurOrKeyup keyup->form#validateFieldOnBlurOrKeyup" }
      = error_message target: 'errors.message'

    .form--field{ data: { controller: 'errors', field: 'setting_office_address_line_2' } }
      = f.label :office_address_line_2
      %p.smb 50 characters max
      = f.text_field :office_address_line_2, placeholder: 'Leave blank if not applicable', maxlength: '50', tabindex: '5', data: { target: "form.field", action: "blur->form#validateFieldOnBlurOrKeyup keyup->form#validateFieldOnBlurOrKeyup" }
      = error_message target: 'errors.message'

    .form--field{ data: { controller: 'errors', field: 'setting_office_address_line_3' } }
      = f.label :office_address_line_3
      %p.smb 50 characters max
      = f.text_field :office_address_line_3, placeholder: 'Leave blank if not applicable', maxlength: '50', tabindex: '6', data: { target: "form.field", action: "blur->form#validateFieldOnBlurOrKeyup keyup->form#validateFieldOnBlurOrKeyup" }
      = error_message target: 'errors.message'

    .form--field{ data: { controller: 'errors', field: 'setting_office_address_city' } }
      = f.label :office_address_city, class: 'required', title: 'Office address city is required'
      %p.smb 50 characters max
      = f.text_field :office_address_city, placeholder: 'i.e. Glasgow', required: true, maxlength: '50', tabindex: '7', data: { target: "form.field", action: "blur->form#validateFieldOnBlurOrKeyup keyup->form#validateFieldOnBlurOrKeyup" }
      = error_message target: 'errors.message'

    .form--field{ data: { controller: 'errors', field: 'setting_office_address_postcode' } }
      = f.label :office_address_postcode, class: 'required', title: 'Office address postcode is required'
      %p.smb 50 characters max
      = f.text_field :office_address_postcode, placeholder: 'i.e. G3 7PR', maxlength: '50', required: true, tabindex: '8', data: { target: "form.field", action: "blur->form#validateFieldOnBlurOrKeyup keyup->form#validateFieldOnBlurOrKeyup" }
      = error_message target: 'errors.message'

    .form--actions= f.button t('form.button_text').html_safe, class: form_button_css(color: 'success'), tabindex: '9', data: { disable_with: t('form.disable_with_text').html_safe }
