.row.lpb
  .column.medium-centered.medium-8.large-6
    %h1.mmb Site Settings

    .callout.success.lmb
      %p
        %b Telephone:
        %br
        = @settings.telephone

      %p
        %b Contact email:
        %br
        = @settings.contact_email

      %p
        %b Office address:
        %br
        = @settings.office_address

      %p
        %b Hourly rate:
        %br
        = @settings.hourly_rate

    %p.text-right
      = link_to 'Edit Site Settings', edit_settings_path, class: 'button large strong'
