= form_with model: @message, url: create_contact_url, data: { controller: 'form', action: 'ajax:beforeSend->form#validateForm' } do |f|

  = render 'contact/partials/title'

  .row
    = render 'contact/partials/map'
    = render 'contact/partials/fieldset', f: f
    = render 'contact/partials/disclaimer'
