- provide :page_title, t('seo.title.about_page.show')
- provide :meta_description, t('seo.meta_description.about_page')
- provide :canonical_url, about_page_url(protocol: 'https')

.row
  .column.medium-4.large-3.mpr-on-large
    %figure.text-center.lmb.spl-on-medium.mpr-on-medium.xpr-on-large.vsmt-on-medium
      = photo_for @about_page

      %figcaption.about-caption.mpt.mmb
        %strong.block.black.smb Zoe Zalavary
        %small.block.medium-gray BA (Hons), PGDip, MBACP

      = link_to 'Contact', contact_path, class: button_css

  .column.medium-8.large-9.npl-on-large
    .row
      .column.large-8.lpr-on-medium.lpr-on-large.npl-on-large
        %h1.mmb About Mindful Life Therapy

        .lmb.trix-content= sanitize @about_page.body

      .column.large-4
        %aside
          %h1.mmb Contact Details

          .mmb
            .strong Phone
            .medium-gray= @settings.telephone

          .mmb
            .strong Office
            .medium-gray= office_address @settings

          .mmb
            .strong Counselling Rate
            .medium-gray= @settings.session_rate


= render 'colophon'
