- provide :page_title, t('seo.title.about_page.show')
- provide :meta_description, t('seo.meta_description.about_page')
- provide :canonical_url, about_page_url(protocol: 'https')

.row.lmb
  .column.medium-4.large-3.lpr-on-large
    %figure.lmb.spl-on-medium.mpr-on-medium.lpr-on-large.vsmt-on-medium
      = photo_for @about_page

      %figcaption.spt.smt.lmb
        %p.nmb.strong Zoe Zalavary
        %p.nmb.medium-gray Counsellor, Psychotherapist & Mindfulness Teacher in Glasgow

  .column.medium-8.large-9.npl-on-large
    .row
      .column.large-8.lpr-on-medium.xpr-on-large.npl-on-large
        %h1.mmb About Mindful Life Therapy

        .trix-content= sanitize @about_page.body

        %h2.lmt.lmb Memberships and Qualifications

        %p Zoe's list of memberships and qualifications includes the following:

        %ul.lmb
          %li.smb
            = link_to 'Registered Member', 'https://www.bacp.co.uk/profile/239578cc-4f90-e711-80e8-3863bb349ac0/Therapist', target: '_blank', class: 'dark-primary-link hover-text-decoration strong'
            of the British Association of Counselling and Psychotherapy
            %strong (BACP)
          %li.smb
            %strong Post Graduate Diploma in Counselling
            from Strathclyde University
          %li.smb
            %strong Compassion Focused Therapy
            Levels 1 & 2
          %li.smb
            %strong COSCA Certificate in Counselling Skills
            from Glasgow Caledonian University
          %li.smb
            %strong Mindfulness Teacher Training
            at Bangor University
          %li.smb
            %strong Mindfulness Practitioner Training
            with the Mindfulness Association
          %li.smb
            %strong Mindful Self Compassion Core Skills Training
            with Dr Chris Germer and Dr Kristin Neff

      .column.large-4.npl-on-large

        %aside.callout.lpa.lmb
          %h2.mmb.larger Counselling

          %p.dark-gray
            Zoe is a
            = link_to 'registered member', 'https://www.bacp.co.uk/profile/239578cc-4f90-e711-80e8-3863bb349ac0/Therapist', class: 'hover-text-decoration', target: '_blank'
            of the British Association of Counselling and Psychotherapy
            = succeed '.' do
              %strong (BACP)

          .lmb
            .strong Session Rate
            .dark-gray= @settings.session_rate

          = link_to 'Counselling Services', counselling_page_path, class: "#{button_css color: 'primary'} large-block"

        %aside.callout.lpa.lmb
          %h2.mmb.larger Mindfulness

          %p.dark-gray.lmb
            Zoe incorporates
            %strong Mindfulness
            into her therapeutic work and hosts regular
            %strong Mindfulness
            classes, workshops and retreats in
            %strong Glasgow
            and beyond.

          %p.nmb= link_to 'Mindfulness Page', mindfulness_page_path, class: "#{button_css color: 'primary'} large-block"
