- provide :page_title, t('seo.title.about_page.show')
- provide :meta_description, t('seo.meta_description.about_page')
- provide :canonical_url, about_page_url(protocol: 'https')

.row
  .column
    %h1.page--title About Mindful Life Therapy

  .column.medium-8.medium-offset-2.large-3.large-offset-0.end
    %figure#about-page--figure
      = photo_for @about_page

      %figcaption#about-page--caption
        %p.h6.mmb Zoe Zalavary
        %p#about-page--figure-blurb Counsellor, Psychotherapist & Mindfulness Teacher in Glasgow
        %p= link_to 'Contact Zoe', contact_path, class: button_css(color: 'success')

  .column.medium-8.medium-offset-2.large-6.large-offset-0.end
    .trix-content= sanitize @about_page.body

  .column.medium-8.medium-offset-2.large-3.large-offset-0.end
    %aside.xmb
      %h2.h4.mmb Counselling

      %p
        Zoe is a
        = link_to 'registered member', 'https://www.bacp.co.uk/profile/239578cc-4f90-e711-80e8-3863bb349ac0/Therapist', class: 'hover-text-decoration', target: '_blank'
        of the British Association of Counselling and Psychotherapy
        = succeed '.' do
          %strong (BACP)

        %p.mmb.spb
          %strong Session Rate
          %br
          = @settings.session_rate

      %p= link_to 'Counselling Services', counselling_page_path, class: button_css(color: 'success')

    %aside.xmb
      %h2.h4.mmb Mindfulness

      %p.mmb.spb
        Zoe incorporates
        %strong Mindfulness
        into her therapeutic work and hosts regular
        %strong Mindfulness
        classes, workshops and retreats in
        %strong Glasgow
        and beyond.

      %p= link_to 'Mindfulness Page', mindfulness_page_path, class: button_css(color: 'success')

= render 'colophon'
