- provide :page_title, t('seo.title.about_page.show')
- provide :meta_description, @about_page.meta_description
- provide :canonical_url, about_page_url(protocol: 'https')

.row
  .column
    %h1.page-title.lpb= @about_page.title

  .column.small-12.medium-3
    %figure.about-figure.lmb.mpr-on-medium.xplr-on-large.smt-on-medium
      = image_tag 'about/zoe-zalavary-psychotherapist-mindful-life-therapy-glasgow.jpg', title: t('zoe.image.caption'), alt: t('zoe.image.caption'), class: 'about-img smb'

      %figcaption.about-caption
        %strong.block.body-font-color Zoe Zalavary
        %small.block.medium-gray BA (Hons), PGDip, MBACP

  .column.medium-9.large-6
    .page-body.lmb
      = simple_format @about_page.body

      %p
        Mindful Life Therapy offers individual counselling and psychotherapy, as well as both group and individual mindfulness training in Glasgow and further afield.

      %p
        Services are provided by Zoe Zalavary BA (Hons), PGDip, MBACP, a BACP registered Counsellor and Psychotherapist, and qualified Mindfulness teacher (trained through Bangor University and the Mindfulness Association).

      %p
        Zoe's therapeutic work integrates Person-centred, Compassion Focused Therapy and Mindfulness and helps address a wide range of issues including:

      %p
        Abuse, Addictions, Anxiety, Bereavement, Depression, Eating Disorders, Identity Problems, Loss, Personal Development, Relationships, Self Esteem, Spirituality, Stress and Work related issues.

      %p
        Working with depression, anxiety and shame based issues as well as identity, spirituality and existential issues are areas of speciality.

  .column.medium-12.large-3
    .xplr-on-large
      .mmb
        .block.strong.success-color Rates:
        .block= @settings.session_rate

      .mmb
        .block.strong.success-color Phone:
        .block= @settings.telephone

      .mmb
        .block.strong.success-color Office:
        = office_address @settings
