= form_with model: @message, url: create_contact_url, data: { controller: 'form', action: 'ajax:beforeSend->form#validateForm' }, class: 'lmb' do |f|

  .row.text-center
    .column.medium-8.medium-offset-2.large-6.large-offset-3
      %h1.lmb Contact

      %p.medium-gray.lmb
        Please note that your message will be handled with the utmost care,
        and your personal details will remain private and confidential.

      %ul.text-center.lmb.spb
        %li.inline-block.sma.medium-gray
          = icon 'fas', 'phone', class: 'smr light-gray'
          Call Zoe on
          %strong= @settings.telephone

        %li.inline-block.sma.medium-gray
          = icon 'fas', 'map', class: 'smr light-gray'
          = link_to 'Find the office on the Map', map_page_url

  .row
    .column.medium-10.medium-offset-1.large-6.large-offset-3.end
      %fieldset.callout.lpa.lmb
        = render 'application/forms/errors', target: f.object

        .field{ data: { controller: 'errors' } }
          = f.label :name, 'What is your name?', class: 'required strong', title: 'Your name is required'
          %p.smb 100 characters max
          = f.text_field :name, required: true, maxlength: '100', placeholder: 'i.e. Jane Doe', class: 'smb', tabindex: '1', data: { target: "form.field", action: "blur->form#validateFieldOnBlurOrKeyup keyup->form#validateFieldOnBlurOrKeyup" }
          = error_message target: 'errors.message'

        .field{ data: { controller: 'errors' } }
          = f.label :email, 'What is your email address?', class: 'required strong', title: 'I need your email address so that I can reply your message'
          %p.smb 100 characters max
          = f.email_field :email, required: true, maxlength: '100', placeholder: 'i.e. name@example.org', class: 'smb', tabindex: '2', data: { target: "form.field", action: "blur->form#validateFieldOnBlurOrKeyup keyup->form#validateFieldOnBlurOrKeyup" }
          = error_message target: 'errors.message'

        .field{ data: { controller: 'errors' } }
          = f.label :subject, 'Subject of your message', class: 'required strong', title: 'Please briefly outline the nature of your message'
          %p.smb 50 characters max
          = f.text_field :subject, required: true, maxlength: '50', placeholder: 'i.e. I would like to book a session', class: 'smb', tabindex: '3', data: { target: "form.field", action: "blur->form#validateFieldOnBlurOrKeyup keyup->form#validateFieldOnBlurOrKeyup" }
          = error_message target: 'errors.message'

        .field{ data: { controller: 'errors' } }
          = f.label :body, 'Your message', class: 'required strong', title: 'Please type your message here'
          %p.smb 10,000 characters max
          = f.text_area :body, required: true, maxlength: '1000', placeholder: 'i.e. Dear Zoe, I need your help with a sensitive issue.', class: 'smb', tabindex: '4', data: { target: "form.field", action: "blur->form#validateFieldOnBlurOrKeyup keyup->form#validateFieldOnBlurOrKeyup" }, rows: '5'
          = error_message target: 'errors.message'

      .actions.text-right= f.button t('contact.button_text').html_safe, class: form_button_css(color: 'primary'), tabindex: '5', data: { disable_with: t('contact.disable_with_text').html_safe }
