- provide :page_title, t('seo.title.counselling_page.show')
- provide :meta_description, t('seo.meta_description.counselling_page')
- provide :canonical_url, counselling_page_url(protocol: 'https')

.row
  .column
    %h1.page--title Counselling & Psychotherapy in Glasgow

  .column.medium-8.medium-offset-2.large-3.large-offset-0.end
    %aside.text-center-on-medium-down.xmb
      %h2.h4.mmb Session Rate

      %p
        Sessions usually take place once a week and last 50 minutes.

      %p.mmb.spb
        %strong Session Rate
        %br
        = @settings.session_rate

      %p= link_to 'Contact to Book a Session', contact_path, class: button_css(color: 'success')

  .column.medium-8.medium-offset-2.large-6.large-offset-0.end
    %figure.text-center.lmb
      = photo_for @counselling_page

    .trix-content= sanitize @counselling_page.body

  .column.medium-8.medium-offset-2.large-3.large-offset-0.end
    %aside.xmb
      %h2.h4.mmb BACP Registered

      %p
        I am a
        = link_to 'registered member', 'https://www.bacp.co.uk/profile/239578cc-4f90-e711-80e8-3863bb349ac0/Therapist', class: 'hover-text-decoration', target: '_blank'
        of the British Association of Counselling and Psychotherapy
        = succeed '.' do
          %strong (BACP)

      %p= link_to 'BACP Register', 'https://www.bacp.co.uk/profile/239578cc-4f90-e711-80e8-3863bb349ac0/Therapist', class: button_css(color: 'success'), target: '_blank'

    %aside.xmb
      = render 'application/sidebar_map'

    %aside.xmb
      %h2.h4.mmb Mindfulness

      %p.mmb.spb
        I incorporate
        %strong Mindfulness
        into my therapeutic work and host
        %strong Mindfulness
        classes, workshops and retreats in
        %strong Glasgow
        and beyond.

      %p= link_to 'Mindfulness Page', mindfulness_page_path, class: button_css(color: 'success')

= render 'colophon'
