- provide :page_title, t('seo.title.counselling_page.show')
- provide :meta_description, t('seo.meta_description.counselling_page')
- provide :canonical_url, counselling_page_url(protocol: 'https')

.row.column
  %h1.text-center.mpb Counselling & Psychotherapy in Glasgow

.row
  .column.medium-8.medium-offset-2.mplr-on-medium.xplr-on-large
    %figure.text-center.lmb.mplr-on-medium.xplr-on-large
      = photo_for @counselling_page

    .lmb.trix-content.mplr-on-medium.xplr-on-large= sanitize @counselling_page.body

    %aside.mplr-on-medium.xplr-on-large
      .mmb
        .block.strong.success-color Rates:
        .block= @settings.session_rate

      .mmb
        .block.strong.success-color Phone:
        .block= @settings.telephone

      .mmb
        .block.strong.success-color Office:
        = office_address @settings

= render 'colophon'
