%footer.footer.strong.text-center.callout.black-background.xptb.no-radius.nmb
  .row
    .column
      %ul.nmb
        %li.inline-block.sma.medium-gray
          = icon 'fas', 'phone', @settings.telephone, class: 'smr white'
        %li.inline-block.sma.medium-gray
          = icon 'fas', 'map-marker-alt', footer_office_address(@settings), class: 'smr white'

  .row
    .column.medium-10.medium-offset-1.large-8.large-offset-2
      %aside.xptb
        %h2.mmb.white
          Do you need help with a sensitive issue?

        %p.medium-gray.nmb
          My aim is to support your exploration of sensitive issues, emotions and behaviours, and help clear a path towards happiness and wellbeing.

  .row
    .column
      %ul.no-bullet.nmb
        %li.inline-block.sma.white
          &copy;
          Zoe Zalavary,
          = DateTime.current.year
        %li.inline-block.sma.white= link_to "Privacy Policy", '#', class: 'hover-text-decoration'
        %li.inline-block.sma.white= link_to "Terms of Use", '#', class: 'hover-text-decoration'
        %li.inline-block.sma.white= link_to 'Site by Stephen Murdoch', 'https://www.murdo.ch', class: 'hover-text-decoration'

        %li.inline-block.sma
          = link_to 'Login', '#', class: 'hover-text-decoration'
