%footer
  .callout
    .row.lpt.spb.column
      %ul.no-bullet.nmb.text-center.spt
        %li.inline-block.sma.primary-color
          = @settings.telephone

        %li.inline-block.sma
          = mail_to @settings.contact_email, @settings.contact_email, class: 'hover-text-decoration'

        %li.inline-block.sma.primary-color
          = footer_office_address(@settings)

  .callout.nmb
    .row
      .column.medium-10.medium-offset-1.large-8.large-offset-2.text-center.lpa.nmb
        %h2.white
          Do you need help with a sensitive issue?

        %p.nmb.light-gray
          My aim is to support your exploration of sensitive issues, emotions and behaviours, and help clear a path towards happiness and wellbeing.

  .callout.nmb.mpa
    .row.column
      = link_to 'Home', root_path, class: 'inline-block sma hover-text-decoration'
      = link_to 'About', about_page_path, class: 'inline-block sma hover-text-decoration'
      = link_to 'Counselling & Psychotherapy', counselling_page_path, class: 'inline-block sma hover-text-decoration'
      = link_to 'Mindfulness', mindfulness_page_path, class: 'inline-block sma hover-text-decoration'
      = link_to 'Contact', contact_path, class: 'inline-block sma hover-text-decoration'
      = link_to 'Admin', admin_path, class: 'inline-block sma hover-text-decoration'
