%footer#footer
  .row
    .column
      %address#footer--contact
        %h2.footer--title Contact

        %ul#footer--contact-list
          %li.footer--contact-item
            = "Call Zoe on #{@settings.telephone}"

          %li.footer--contact-item
            = footer_office_address(@settings)

          %li.footer--contact-item
            = link_to 'Find the office on the Map', map_page_url

  .row.medium-up-1.large-up-3
    .column
      %aside.footer--aside
        %h2.footer--title About

        %p.footer--blurb
          Services are provided by Zoe Zalavary BA (Hons), PGDip, a
          = link_to 'BACP registered', 'https://www.bacp.co.uk/profile/239578cc-4f90-e711-80e8-3863bb349ac0/Therapist', class: 'footer--link', target: '_blank'
          Counsellor and Psychotherapist, and qualified Mindfulness teacher.

    .column
      %aside.footer--aside
        %h2.footer--title Counselling

        %p.footer--blurb
          Zoe's aim is to support your exploration of sensitive issues, emotions and behaviours, and help you to clear a path towards happiness and wellbeing.

    .column
      %aside.footer--aside
        %h2.footer--title Mindfulness

        %p.footer--blurb
          Zoe incorporates
          %strong.white Mindfulness
          into her therapeutic work and hosts
          %strong.white Mindfulness
          classes, workshops and retreats in
          %strong.white Glasgow
          and further afield.

  .row
    .column
      %nav#footer--nav
        %ul#footer--nav-list
          %li.footer--nav-list-item= link_to "Privacy Policy", privacy_policy_path, class: 'footer--link'
          %li.footer--nav-list-item= link_to "Terms & Conditions", terms_and_conditions_path, class: 'footer--link'
          %li.footer--nav-list-item= link_to 'Site by Stephen Murdoch', 'https://www.murdo.ch', class: 'footer--link', target: '_blank'

  .row
    .column
      %address#footer--copy
        &copy;
        Zoe Zalavary,
        = DateTime.current.year
