%nav#navbar.row.column

  %input#navbar--checkbox{ type: 'checkbox' }

  = link_to root_path, id: 'navbar--logo-link' do
    = image_tag 'logos/mindful-life-therapy-logo.png', id: 'navbar--logo-image', title: t('colophon.image.caption'), alt: t('colophon.image.caption')

  %label#navbar--label{ for: 'navbar--checkbox' }
    = icon 'fas', 'bars', id: 'navbar--label-pseudo-button'

  %ul#navbar--primary-nav{ role: 'menubar' }
    %li.navbar--primary-nav-item
      = link_to root_path, class: active_link?('home_page') do
        Home

    %li.navbar--primary-nav-item
      = link_to about_page_path, class: active_link?('about_page') do
        About

    %li.navbar--primary-nav-item
      = link_to counselling_page_path, class: active_link?('counselling_page') do
        Counselling
        %span.show-for-large & Psychotherapy

    %li.navbar--primary-nav-item
      = link_to mindfulness_page_path, class: active_link?('mindfulness_page') do
        Mindfulness
        %span.show-for-large Training

    %li.navbar--primary-nav-item
      = link_to contact_path, id: 'navbar--primary-nav-contact-button', class: active_link?('contact') do
        %span.hide-for-small-only= icon 'fas', 'envelope'
        %span.hide-for-medium Contact
