%nav#navbar.row.column

  = link_to root_path, id: 'navbar--logo-link' do
    = image_tag 'logos/mindful-life-therapy-logo.png', id: 'navbar--logo-image', title: t('colophon.image.caption'), alt: t('colophon.image.caption')

  %ul#navbar--primary-nav{ role: 'menubar' }

    %li.navbar--primary-nav-item
      = link_to root_path, class: active_link?('home_page') do
        %i.icon-home.navbar--icon
        %span.navbar--primary-nav-item-text Home

    %li.navbar--primary-nav-item
      = link_to about_page_path, class: active_link?('about_page') do
        %i.icon-info.navbar--icon
        %span.navbar--primary-nav-item-text About

    %li.navbar--primary-nav-item
      = link_to counselling_page_path, class: active_link?('counselling_page') do
        %i.icon-th-large.navbar--icon
        %span.navbar--primary-nav-item-text Counselling

    %li.navbar--primary-nav-item
      = link_to mindfulness_page_path, class: active_link?('mindfulness_page') do
        %i.icon-star.navbar--icon
        %span.navbar--primary-nav-item-text Mindfulness

    %li.navbar--primary-nav-item
      = link_to contact_path, id: 'navbar--primary-nav-contact-button', class: active_link?('contact') do
        %i.icon-envelope.navbar--icon
        %span.navbar--primary-nav-item-text Contact

    - if current_user
      %li.navbar--primary-nav-item
        = link_to admin_path, id: 'navbar--primary-nav-contact-button', class: active_link?('admin') do
          %i.icon-cog.navbar--icon
          %span.navbar--primary-nav-item-text Admin

      %li.navbar--primary-nav-item
        = link_to logout_path, method: :delete, id: 'navbar--primary-nav-contact-button', class: 'inactive' do
          %i.icon-sign-out.navbar--icon
          %span.navbar--primary-nav-item-text Logout

    - else
      %li.navbar--primary-nav-item
        = link_to login_path, id: 'navbar--primary-nav-contact-button', class: active_link?('login') do
          %i.icon-sign-in.navbar--icon
          %span.navbar--primary-nav-item-text Login
