%nav.row.column.flex.lpt.lpb
  %input#nav-checkbox.hide{ type: 'checkbox' }

  = link_to root_path do
    = image_tag 'header/mindful-life-therapy-logo.png', class: 'block hover-opacity', title: t('colophon.image.caption'), alt: t('colophon.image.caption')

  %label.flex-1.font-1.hide-for-large.text-right.medium-gray-link{ for: 'nav-checkbox' }
    %span.hover-pointer
      = fa_icon 'bars', text: 'Menu', class: 'dark-gray'

  %ul.primary-nav.flex-1-on-large.no-bullet.npa.nma.text-right{ role: 'menubar' }
    %li.inline-block-on-large.block-on-medium-down.splr-on-large
      = link_to root_path, class: css_class_for_controller('home_page') do
        Home

    %li.inline-block-on-large.block-on-medium-down.splr-on-large
      = link_to about_path, class: css_class_for_controller('about') do
        About

    %li.inline-block-on-large.block-on-medium-down.splr-on-large
      = link_to counselling_path, class: css_class_for_controller('counselling') do
        Counselling & Psychotherapy

    %li.inline-block-on-large.block-on-medium-down.splr-on-large
      = link_to mindfulness_path, class: css_class_for_controller('mindfulness') do
        Mindfulness

    %li.inline-block-on-large.block-on-medium-down.smt-on-medium-down.sml-on-large
      = link_to contact_path, class: 'button strong nmb' do
        Contact
