- provide :page_title, t('seo.title.mindfulness_page.show')
- provide :meta_description, t('seo.meta_description.mindfulness_page')
- provide :canonical_url, mindfulness_page_url(protocol: 'https')


.row.column
  %h1.page-title.lpb Mindfulness in Glasgow

.row
  .column.large-10.large-offset-1
    .row
      .column.small-12.medium-3
        %figure.text-center.lmb.mpr-on-medium.lpr-on-large.vsmt-on-medium
          = page_photo_for @mindfulness_page

      .column.medium-9.large-6
        .lmb.trix-content= sanitize @mindfulness_page.body

      .column.medium-9.medium-offset-3.large-3.large-offset-0
        .lpl-on-large.sidebar
          .mmb
            .block.strong.success-color Rates:
            .block= @settings.session_rate

          .mmb
            .block.strong.success-color Phone:
            .block= @settings.telephone

          .mmb
            .block.strong.success-color Office:
            = office_address @settings

= render 'colophon'
